<p id="notice"><%= notice %></p>

<h1 class="headline">Books</h1>


<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	
	<tbody>
		<% @book.each do |books| %>
		<tr>
			<td><%= books.title %></td>
			<td><%= books.body %></td>
			<td><%= link_to "show", book_path(books.id) %></td>
			<td><%= link_to "edit", edit_book_path(books) %></td>
			<td><%= link_to "destroy", books , method: :delete,  "data-confirm" => "Are you sure?" %></td>
		</tr>
		<% end %>
	</tbody>
</table>


<body class="content">
  <h1 class=headline_>New Book</h1>

  <%= form_with model: @books do |f| %>
    <div class="field">
      <h4 >Title</h4>
        <%= f.text_field :title %>  
    </div>
  
    <div class="field">
      <h4>Body</h4>
        <%= f.text_area :body %>  
    </div>
  
	  <div class="submit">
	    <%= f.submit 'Create Book' %>
	  </div>
  <% end %>
</body>
