<div id="notice" class="content">
	<%= flash[:notice] %>
</div>

<h1 class="headline">Books</h1>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	
	<tbody>
		<% @book.each do |books| %>
		<tr>
			<td><%= books.title %></td>
			<td><%= books.body %></td>
			<td><%= link_to "Show", book_path(books.id) %></td>
			<td><%= link_to "Edit", edit_book_path(books) %></td>
			<td><%= link_to "Destroy", books, method: :delete,  "data-confirm" => "Are you sure?" %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<body class="content">
  <h1 class=headline_second>New Book</h1>
  
  <%= form_with model: @books do |f| %>
  	<% if @books.errors.any? %>
  		<div class="errors_count">
  			<h2 class="errors_count_ms"><%= @books.errors.count %> <span class="count_content">errors prohibited this book from being saved:</span></h2>
  			<ul class="errors_list">
  				<% @books.errors.full_messages.each do |message| %>
  					<li><%= message %></li>
  				<% end %>
  			</ul>
  		</div>	
  		
  		<div class="field_errors">
      	<h4 class="field_errors_content">Title</h4>
        <div class="field_errors_content"><%= f.text_field :title %></div>  
    	</div>
    	
    	<div class="field_errors">
      	<h4 class="field_errors_content">Body</h4>
        <div class="field_errors_content"><%= f.text_area :body %></div>  
    	</div>
    
    	<div class="submit">
	   		<%= f.submit 'Create Book' %>
	  	</div>
	  	
   	<% else %>
    	<div class="field">
      	<h4 >Title</h4>
        <%= f.text_field :title %>  
    	</div>
    	
    	<div class="field">
     	 <h4>Body</h4>
       	 <%= f.text_area :body %>  
    	</div>
    	
	  	<div class="submit">
	   	 <%= f.submit 'Create Book' %>
	  	</div>
  	<% end %>
  	
  <% end %>
</body>
