<div class="body">
  <div id="notice" class="content">
	<%= flash[:notice] %>
  </div>
  <p class="content"><span class="show">Title: </span><%= @books.title %></p>
  <p class="content"><span class="show">Body: </span><%= @books.body %></p>
  <p class="main"><%= link_to "Edit", edit_book_path(@books.id) %> | <%= link_to "Back", books_path %></p>  
</div>

